ACTION=="add", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_interface", \
  ATTR{bInterfaceClass}=="03", ATTR{bInterfaceProtocol}=="01", ATTR{bInterfaceNumber}=="00", \
  TEST!="/sys/module/hello", \
  RUN+="/usr/sbin/insmod /root/a04/hello.ko"
